@import 'tailwindcss';

:root {
  font-family: 'Rubik', sans-serif;
  body {
    background-color: var(--color-bg-muted);
  }
}

@theme {
  --color-primary: var(--color-emerald-500);
  --color-primary-100: var(--color-emerald-100);
  --color-primary-200: var(--color-emerald-200);
  --color-primary-300: var(--color-emerald-300);
  --color-primary-400: var(--color-emerald-400);
  --color-primary-500: var(--color-emerald-500);
  --color-primary-600: var(--color-emerald-600);
  --color-primary-700: var(--color-emerald-700);
  --color-primary-800: var(--color-emerald-800);
  --color-primary-900: var(--color-emerald-900);
  --color-primary-950: var(--color-emerald-950);

  --color-secondary: var(--color-blue-500);
  --color-secondary-100: var(--color-blue-100);
  --color-secondary-200: var(--color-blue-200);
  --color-secondary-300: var(--color-blue-300);
  --color-secondary-400: var(--color-blue-400);
  --color-secondary-500: var(--color-blue-500);
  --color-secondary-600: var(--color-blue-600);
  --color-secondary-700: var(--color-blue-700);
  --color-secondary-800: var(--color-blue-800);
  --color-secondary-900: var(--color-blue-900);
  --color-secondary-950: var(--color-blue-950);


  --color-accent: var(--color-amber-500); /* highlight / energy accent */

  /* === Text === */
  --color-text-heading: var(--color-primary);
  --color-text-primary: var(--color-slate-900);
  --color-text-secondary: var(--color-slate-600);

  --color-text-primary-light: var(--color-white);
  --color-text-secondary-light: var(--color-slate-200);

  /* === Backgrounds === */
  --color-bg-base: var(--color-white);
  --color-bg-muted: var(--color-slate-100);
  --color-bg-primary: var(--color-primary);
  --color-bg-secondary: var(--color-bg-muted);

  /* === Borders & UI === */
  --color-border: var(--color-slate-200);
  --color-border-hover: var(--color-slate-300);
  --color-border-strong: var(--color-slate-400);

  /* === States === */
  --color-success: var(--color-emerald-500);
  --color-warning: var(--color-amber-400);
  --color-danger: var(--color-rose-500);
  --color-info: var(--color-blue-500);
}
